body{
    background-color: rgb(11, 7, 243);
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 20, 59);
}
p{
    text-align: center;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.788);
}